.gradient-p-to-y-bg {
  background: linear-gradient(105.85deg, rgba(227, 223, 255, 0.5) 27.97%, rgba(255, 239, 207, 0.5) 76.29%);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.slide-in-from-right {
  animation: slideInFromRight 1.2s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.slide-in-from-left {
  animation: slideInFromLeft 1.2s ease-out forwards;
}

@keyframes slideFromBottom {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-in-from-bottom {
  opacity: 0;
  transform: translateY(40px);
  animation: slideFromBottom 0.8s ease-out forwards;
}

@keyframes slideFromTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-in-from-top {
  opacity: 0;
  transform: translateY(-40px);
  animation: slideFromTop 0.8s ease-out forwards;
}

.invisible-before-animate {
  opacity: 0;
  transform: translateY(40px);
}

@keyframes pulse-glow {
  0%,
  100% {
    box-shadow: 0 0 0px rgba(134, 130, 255, 0.444);
  }
  50% {
    box-shadow: 0 0 15px 5px rgba(134, 130, 255, 0.431);
  }
}
.btn-glow {
  animation: pulse-glow 2s infinite;
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: all 0.3s ease;
}
.fade-slide-enter-from {
  opacity: 0;
  transform: translateY(-5px);
}
.fade-slide-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.fade-slide-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}
